[submodule "docs/reveal.js"]
	path = docs/reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "spec/styles"]
  path = spec/styles
  url = https://github.com/citation-style-language/styles.git
